{% raw %}
{% from 'bootstrap5/utils.html' import render_icon %}

{% macro render_static(type, filename_or_url, local=True) %}
    {% if local -%}{% set filename_or_url = url_for('static', filename=filename_or_url) %}{%- endif %}
    {% if type == 'css' -%}
        <link rel="stylesheet" type="text/css" href="{{ filename_or_url }}">
    {%- elif type == 'js' -%}
        <script type="text/javascript" src="{{ filename_or_url }}"></script>
    {%- elif type == 'icon' -%}
        <link rel="shortcut icon" href="{{ filename_or_url }}">
    {%- endif %}
{% endmacro %}

{% macro render_nav_item(endpoint, text, icon='', li_class='nav-item') %}
    {% set active = True if request.endpoint and request.endpoint == endpoint else False %}
    <li class="{{ li_class }}">
        <a class="nav-link{% if active %} active" aria-current="page{% endif %}" href="{{ url_for(endpoint, **kwargs) }}">
            {% if icon %}{{ render_icon(icon) }}{% endif %} {{ text }}
        </a>
    </li>
{% endmacro %}
{%- endraw %}
