{% raw %}
{% from "macros.html" import render_nav_item %}
<div class="container">
    <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            {% endraw %}{{ cookiecutter.friendly_name }}{% raw %}
        </a>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            {{ render_nav_item('main.index', 'Home', li_class='nav-item px-2') }}
        </ul>
        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2">Sign In</button>
            <button type="button" class="btn btn-primary">Sign Up</button>
        </div>
    </nav>
</div>
{%- endraw %}
