{% raw %}
{% extends "auth/auth.html" %}
{% block main_attrs %}class="auth auth-register"{% endblock %}
{% block page_title %}Sign Up{% endblock %}
{% block title %}Sign Up{% endblock %}

{% block form %}
    <form
        id="registerForm"
        class="p-4 border border-dark rounded needs-validation bg-dark"
        method="post"
        action=""
        novalidate
    >
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.first_name.label(class_="form-label") }}
            {{ form.first_name(class_="form-control" + (" is-invalid" if form.first_name.errors else "")) }}
            {% if form.first_name.errors %}
                {% for error in form.first_name.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.family_name.label(class_="form-label") }}
            {{ form.family_name(class_="form-control" + (" is-invalid" if form.family_name.errors else "")) }}
            {% if form.family_name.errors %}
                {% for error in form.family_name.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.email_address.label(class_="form-label") }}
            {{ form.email_address(class_="form-control" + (" is-invalid" if form.email_address.errors else "")) }}
            {% if form.email_address.errors %}
                {% for error in form.email_address.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="mb-4">
            {{ form.password.label(class_="form-label") }}
            {{ form.password(class_="form-control" + (" is-invalid" if form.password.errors else "")) }}
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        {{ form.submit(class_="btn btn-sm btn-success w-100") }}
    </form>
{% endblock %}
{%- endraw %}
