{% raw %}
{% extends "auth/auth.html" %}
{% block main_attrs %}class="auth auth-reset-password"{% endblock %}
{% block page_title %}Forgot password{% endblock %}
{% block title %}Forgot password{% endblock %}

{% block form %}
    <form
        id="passwordResetForm"
        class="p-4 bg-dark border border-dark rounded needs-validation"
        method="post"
        action=""
        novalidate
    >
        {{ form.hidden_tag() }}
        <div class="mb-4">
            {{ form.password.label(class_="form-label") }}
            {{ form.password(class_="form-control" + (" is-invalid" if form.password.errors else "")) }}
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        {{ form.submit(class_="btn btn-sm btn-success w-100") }}
    </form>
{% endblock %}
{%- endraw %}
